.substitutesContainer{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 1.5vw;
}

@media (max-width:1200px) {
    .substitutesContainer{
        grid-template-columns: auto;
    }
}