:root {
  --orange: #d06224;
  --burntOrange: #ae431e;
  --green: #8a8635;
  --lightBrown: #e9c891;
  --darkGrey: #3e3939;
  --black: #2c2727;
  --white: 246, 244, 244;
  --blue: #00329d;
}

html,
body {
  margin: 0;
  font-family: 'Poppins';
  color: var(--darkGrey);
  background-color: var(--lightBrown);
}

a{
  color: var(--blue);
  text-decoration: none;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Bold.ttf');
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 8vh;
}

* {
  box-sizing: border-box;
}
