:root {
  --orange:208, 98, 36;
  --burntOrange: 174, 67, 30;
  --green: 122, 138, 11;
  --darkGreen: 89, 99, 19;
  --lightBrown: 233, 200, 145;
  --darkGrey: 62, 57, 57;
  --grey: 162, 157, 157;
  --black: 44, 39, 39;
  --white: 250, 250, 2450;
  --blue: 0, 50, 157;
}

html,
body {
  margin: 0;
  font-family: 'Poppins';
  color: rgb(var(--darkGrey));
}

a {
  color: rgb(var(--blue));
  text-decoration: none;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./Poppins-Bold.ttf');
}

h1 {
  color: rgb(var(--white));
  margin:0;
  padding-left: 1vw;
  align-self: center;
}

h2{
  margin: 0;
  font-size: 25px;
}

h3, h4, p{
  margin: 0;
}

.title{
  font-family: 'Poppins-Bold';
  margin: 1vh 0;
}

* {
  box-sizing: border-box;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  row-gap: 1vh;
  column-gap: 1vw;
}

.endNote {
  color: rgb(var(--white));
  font-size: 22px;
}

@media (max-width:395px) {
  .cardsGrid{
    justify-content: center;
  }
}