:root {
  --orange: #d06224;
  --burntOrange: #ae431e;
  --green: #8a8635;
  --lightBrown: #e9c891;
  --darkGrey: #3e3939;
  --black: #2c2727;
  --white: #f6f4f4;
}

html,
body {
  margin: 0;
  font-family: 'Poppins';
  color: var(--darkGrey);
  background-color: var(--lightBrown);
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Bold.ttf');
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 8vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
