.mainContainer {
  padding: 2px 20px;
}

.header {
  width: 100vw;
  margin: 0 3px;
}

.accordiansContainer {
  margin: 1vh 0;
}

.cardsGrid{
  display: grid;
  grid-template-columns: repeat( auto-fit, 420px );
  column-gap: 20px;
}