.informationContainer{
    background-color: rgba(var(--grey), 0.2);
    padding:1vw;
    border-radius: 4px;
}

.title{
    font-size: large;
    font-family: 'Poppins-Bold';
    color: rgb(var(--darkGreen));
}

.information{
    padding: 1vh;
    border-radius: 4px;
    font-size: large;
}

.infoGrid{
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 1vw;
}

@media (min-width:701px) {
    .infoGrid{
        grid-template-columns: auto auto;
        column-gap: 2vh;
    }
}

