.title{
    font-size: large;
    font-family: 'Poppins-Bold';
    color: var(--black);
    margin-bottom: 1vh;
}

.information{
    background-color: rgb(var(--white), 0.8);
    padding: 1vh;
    border-radius: 4px;
    font-size: large;
}

.infoGrid{
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 1vw;
}

@media (min-width:701px) {
    .infoGrid{
        grid-template-columns: auto 110px;
        column-gap: 2vh;
    }
}

