.modal {
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: fixed;
  background-color: rgba(var(--white));
  z-index: 2;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 96vh;
  border-radius: 4px;
  padding: 1vw;
}

.bold {
  font-family: 'Poppins-Bold';
}

.itemHeader {
  grid-column: 1 / span 3;
  margin-top: 1vh;
  font-size: x-large;
  font-family: 'Poppins-Bold';
}

.itemClose {
  align-self: center;
  text-align: right;
  grid-column: 4;
  font-size: x-large;
  cursor: pointer;
}

.itemClose:hover {
  font-family: 'Poppins-Bold';
}

.itemIngredients {
  grid-column: 1 / span 2;
  grid-row: 2;
  width: 30vw;
}

.itemInstructions {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.itemImage {
  grid-column: 3 / span 2;
  grid-row: 2;
  justify-self: center;
  padding-left: 1vw;
  width:380px;
}

.itemImage > span > img{
  border-radius: 50%;
}

@media (max-width: 1290px) {
  .modal {
    width: 70vw;
  }

  .itemIngredients {
    width: 35vw;
  }

  .itemImage {
    width: 30vw;
  }
}

@media (max-width: 700px) {
  .modal {
    width: 96vw;
  }

  .itemIngredients {
    width: 100%;
  }

  .itemImage {
    width: 100%;
  }
}
